<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Git History Viewer</title>
    <link href='/css/style.css' rel='Stylesheet' />
    <link href='/css/ui-darkness/jquery-ui-1.8rc3.custom.css' rel='Stylesheet' />
    <script type='text/javascript' src='/js/jquery-1.4.2.min.js'></script>
    <script src='/js/jquery-ui-1.8rc3.custom.min.js'></script>
    <script src='/js/application.js'></script>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <div id='nav'></div>
      </div>
      <div id='content'>
        <ul id='linenumbers'></ul>
        <div id='screen' style='font-family: monospace'></div>
      </div>
      <pre id='history' style='display:none;height:0'><%= @log %></pre>
      <div id='footer'>
        <dl>
          <dt>Commit:</dt>
          <dd id='commithash'></dd>
          <dt>Author:</dt>
          <dd id='author'></dd>
          <dt>Date:</dt>
          <dd id='date'></dd>
        </dl>
        <div id='commitmsg'></div>
      </div>
    </div>
  </body>
</html>
