<!DOCTYPE html>
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Git History Viewer
    %link{:rel => "Stylesheet", :href => "/css/style.css"}
    %link{:rel => "Stylesheet", :href => "/css/ui-darkness/jquery-ui-1.8rc3.custom.css"}
  %body
    #container
      #header
        #nav
      #content 
        %ul#linenumbers
        %ul#sidebar
        #screen{:style => "font-family: monospace"}
      %pre#history{:style=>"display:none;height:0"}= @log
      #footer
        %dl
          %dt Commit: 
          %dd#commithash
          %dt Author:
          %dd#author 
          %dt Date:
          %dd#date 
        #commitmsg
