<!DOCTYPE html>
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Git History Viewer
    %link{:rel => "Stylesheet", :href => "/css/style.css"}
    %link{:rel => "Stylesheet", :href => "/css/ui-darkness/jquery-ui-1.8rc3.custom.css"}
    <script src='/search/search.js'></script>
    <script src='/js/uki.cjs'></script>
    <script src='/js/uki-more.cjs'></script>
    <script type='text/javascript' src='/js/jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='/js/filter.js'></script>
    <script type='text/javascript' src='/js/view.js'></script>
