body {
   margin: 0;
   padding: 0;
}

pre {
   margin: 0;
   padding: 0;
   display: inline;
}

#container {
   display: block;
   position: absolute;
   min-height: 100%;
   margin: 0;
   width: 100%;
}

#header {
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: #222;
   width: 100%;
   height: 35px;
   z-index: 1000;
}

#nav {
   margin: 8px 20px 0 20px;
}

#footer {
   font-family: HelveticaNeue-Light, helvetica, arial, sans;
   font-size: 18px;
   position: fixed;
   bottom: 0px;
   display: block;
   background-color: #222;
   width: 100%;
   height: 100px;
}

#content {
   padding: 35px 200px 100px 30px;
}

dl {
   margin: 1em 0 0 1em;
   float: left;
   width: 49%;
}

#commitmsg {
   margin: 1em 0 0 0;
   float: left;
   color: white;
   width: 49%;
   height: 3.7em;
   overflow: hidden;
}

dd, dt {
   color: white;
   float: left;
   margin: 0;
   padding: 0
}

dt {
   margin-right: 0.5em;
   clear: left;
}

#sidebar {
   font-family: HelveticaNeue-Light, helvetica, arial, sans;
   position: fixed;
   right: 0;
   top: 35px;
   width: 200px;
   height: 100%;
   background-color: #eee;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#sidebar li {
   width: 100%;
   height: 20px;
   margin: 0;
   padding: 3px 3px 0 3px;
   overflow: hidden;
}

#linenumbers {
   font-family: monospace;
   position: absolute;
   left: 0;
   top: 35px;
   width: 30px;
   height: 100%;
   overflow: hidden;
   background-color: #eee;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

